<h1>Welcome to the page for <%= @stylist.name %>!</h1>

<h2>Edit stylist</h2>


<form action="/stylist/<%= @stylist.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input class="form-control" type="text" placeholder="name" name="name" value="<%= @stylist.name %>">
  <button type="submit" class="btn btn-success">Save Changes</button>
</form>

<form action="/stylist/<%= @stylist.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger btn-sm" type="submit">Delete Stylist</button>
</form>


      <h2>Add a client</h2>

      <form action="/stylist_client_add" method="post">
        <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id %>">
        <input id="name" name="name" type="text" placeholder="client name">
        <button type="submit">Add client</button>
      </form>

      <% @stylists.clients do |client| %>
        <% client.name %>
        <% end %>
      <a href="/">Back to your Lists</a>
